# Virtual environment
venv/

# IDE files
*.iml

# Python
.pytest_cache/
__pycache__/

# Git files
.git
.gitignore

# Unit testing files
openai_key.txt

# Images
img/

# K8s & Tilt files
k8s/
Tiltfile

